h1{
  text-align: center;
}


*{
  background-color: #96305A;
  color: white;
}


.foto{
text-align: center;
}


.boton{
  border: 3px solid black;
}


.titulo{
  font-size: 50px;
  color:  #d4ac0d;
}
